@font-face {
font-family: "avengersfont";
src: url("fonts/AVENGEANCE HEROIC AVENGER.ttf");
/*src: 
url("css/fonts/Harabara.woff") format("woff"),
url("css/fonts/Harabara.otf") format("opentype"),
url("css/fonts/Harabara.svg#filename") format("svg");*/
}



body{
  /*background: url("../img/background.jpg") !important;*/
  background-image: linear-gradient(rgba(61, 61, 61, 0.6),rgba(0, 0, 0, 0.1)), url(../img/backgroundspace.png) !important;
   /*background-image: url(../img/test2.jpg) !important;*/
      /*background-image: url(../img/spacetest.png) !important;*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

/*  background: #0F2027;   
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */

/*background: #232526; 
background: -webkit-linear-gradient(to right, #414345, #232526);  
background: linear-gradient(to right, #414345, #232526); */


}

.ironman-char{
	background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/ironman-bg.jpg);
    border-style:ridge;
  border-width: 7px;
  /*border-color: #ed1c24;*/
  border-color: #a50000;

  /*box-shadow: 0px 0px 50px 7px #ffde03; */
  /*rgba(238,255,0,1)*/
}

.player-mode{
  position: relative;
}

.change-char-button.right{
  right:10px;
}

.change-char-button.left{

  left:10px;
}

.change-char-button{
    font-size: 20px !important;
  color: #9E9E9E;
  position: absolute !important;
  top: 45% !important;
}

.change-mode-button{
    font-size: 20px !important;
  color: #9E9E9E;
  position: absolute !important;
  top: 20% !important;
}

.change-mode-button.left{
  left:20%;
  /*left: 100px;*/
}

.change-mode-button.right{
  right:20%;
}


.thor-char{
  background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/thor-bg.jpg);
    border-style:ridge;
  border-width: 7px;
  /*border-color: #518cca;*/
  border-color: #999999;
}

.hulk-char{
  background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/hulk-bg.jpg);
    border-style:ridge;
  border-width: 7px;
  /*border-color: #A2CD48;  */
  border-color: #00991f;
}

.cap-char{
  background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/cap-bg.jpg);
    border-style:ridge;
  border-width: 7px;
  border-color: #3268bd;
}

.box {
	background-color: grey;
	width: 290px;
	height:290px;
	margin: 0 auto;
	margin-top:1em;
	text-align: center;
  position: relative;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.board button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  background: #bbb;
  /*background-image: url(../img/board.svg);*/
}

table {
/*border: solid 1px white;*/
} 

button.ironman {
    background-image: url(../img/ironman-icon.png);
    background-size: cover;
    background-position: center; 
}

button.cap {
      background-image: url(../img/cap-icon.png);
    background-size: cover;
    background-position: center; 
}

button.thor {
    background-image: url(../img/thor-icon.png);
    background-size: cover;
    background-position: center; 
}

button.hulk {
      background-image: url(../img/hulk-icon.png);
    background-size: cover;
    background-position: center; 
}

h1, h2{
  text-align:center;
  /*margin-bottom:5px;*/
  margin-top:0.5em !important;
  font-family: avengersfont;
  font-size: 4em !important;
  color: #ecf0f1 !important;
  /*margin-bottom: 0px !important;*/
}

h2{
  margin-top: 0.2em !important;
  font-size: 3em !important;
}

h3{
  margin-top: 0.5em !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 2em !important;
  color: #ecf0f1 !important;
      /*font-family: 'Lato', 'Arial', sans-serif;*/
}

h3:after{
  display: block;
  height: 2px;
  background-color: #ed1c24;
  content: " ";
  max-width: 100px;
  margin: 10px auto;
}

p{
  color: #ecf0f1 !important;
  font-size: 1.25em !important;
    letter-spacing: 0.5px;
  word-spacing: 2px;
  /*font-family: 'Lato', 'Arial', sans-serif;*/
  /*font-weight: 300;*/
    /*font-size: 20px;*/
}