@font-face {
font-family: "avengersfont";
src: url("fonts/AVENGEANCE HEROIC AVENGER.ttf");
/*src: 
url("css/fonts/Harabara.woff") format("woff"),
url("css/fonts/Harabara.otf") format("opentype"),
url("css/fonts/Harabara.svg#filename") format("svg");*/
}



body{
  /*background: url("../img/background.jpg") !important;*/
  background-image: linear-gradient(rgba(61, 61, 61, 0.6),rgba(0, 0, 0, 0.1)), url(../img/backgroundspace.png) !important;
   /*background-image: url(../img/test2.jpg) !important;*/
      /*background-image: url(../img/spacetest.png) !important;*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

/*  background: #0F2027;   
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */

/*background: #232526; 
background: -webkit-linear-gradient(to right, #414345, #232526);  
background: linear-gradient(to right, #414345, #232526); */


}


.player-mode{
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.change-char-button.right{
  right:10px;
}

.change-char-button.left{

  left:10px;
}

.change-char-button{
    font-size: 20px !important;
  color: #9E9E9E;
  position: absolute !important;
  top: 45% !important;
}

.change-mode-button{
    font-size: 20px !important;
  color: #9E9E9E;
  position: absolute !important;
  top: 20% !important;
}

.change-mode-button.left{
  /*left:20%;*/
  /*left: 100px;*/
}

.change-mode-button.right{
  right:0px;
}

.ironman-char{
  background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/ironman-bg.jpg);
    border-style:ridge;
  border-width: 7px;
  /*border-color: #ed1c24;*/
  border-color: #a50000;

  /*box-shadow: 0px 0px 50px 7px #ffde03; */
  /*rgba(238,255,0,1)*/
}


.thor-char{
  background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/thor-bg.jpg);
    border-style:ridge;
  border-width: 7px;
  /*border-color: #518cca;*/
  border-color: #999999;
}

.hulk-char{
  background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/hulk-bg.jpg);
    border-style:ridge;
  border-width: 7px;
  /*border-color: #A2CD48;  */
  border-color: #00991f;
}

.cap-char{
  background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/cap-bg.jpg);
    border-style:ridge;
  border-width: 7px;
  border-color: #3268bd;
}

.box {
	background-color: grey;
	width: 290px;
	height:290px;
	margin: 0 auto;
	margin-top:1em;
	text-align: center;
  position: relative;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.board button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  background: #bbb;
  /*background-image: url(../img/board.svg);*/
}

table {
/*border: solid 1px white;*/
} 

button.ironman {
    background-image: url(../img/ironman-icon.png);
    background-size: cover;
    background-position: center; 
}

button.cap {
      background-image: url(../img/cap-icon.png);
    background-size: cover;
    background-position: center; 
}

button.thor {
    background-image: url(../img/thor-icon.png);
    background-size: cover;
    background-position: center; 
}

button.hulk {
      background-image: url(../img/hulk-icon.png);
    background-size: cover;
    background-position: center; 
}

h1, h2{
  text-align:center;
  /*margin-bottom:5px;*/
  margin-top:0.5em !important;
  font-family: avengersfont;
  font-size: 4em !important;
  color: #ecf0f1 !important;
  /*margin-bottom: 0px !important;*/
}

h2{
  margin-top: 0.2em !important;
  font-size: 3em !important;
}

h3{
  margin-top: 0.5em !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 2em !important;
  color: #ecf0f1 !important;
      /*font-family: 'Lato', 'Arial', sans-serif;*/
}

h3:after{
  display: block;
  height: 2px;
  background-color: #ed1c24;
  content: " ";
  max-width: 100px;
  margin: 10px auto;
}

p{
  color: #ecf0f1 !important;
  font-size: 1.5em !important;
    letter-spacing: 0.5px;
  word-spacing: 2px;
  text-transform: uppercase;
  /*font-family: 'Lato', 'Arial', sans-serif;*/
  /*font-weight: 300;*/
    /*font-size: 20px;*/
}

.ability{
/*  font-weight: 550;
  color: #D50000;  */
}

.char-ability-1{
  /*color: red;*/
  /*font-weight: 600;*/
  display: none;
  /*font-family: 'Comic Sans MS', sans-serif;*/
}

.char-ability-2{
  /*color: red;*/
  /*font-weight: 600;*/
  display: none;
}

.speech-bubble {
/*  position: relative;
  background: #00aabb;
  border-radius: .4em;*/

    /*background-color: #283593; */
   background-color: black;
opacity: 0.9;


  width: 270px;
  height:100px;
  margin: 0 auto;
  margin-top:1em;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left:10px;
  
    display: flex;
  justify-content: center;
  align-items: center; 

}

.speech-text {
  /*line-height:  500%;*/
  /*color:  #01579B;*/
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
font-family: 'Lekton', Helvetica, Arial, sans-serif;
/*font-family: 'Molengo', Georgia, Times, serif;*/
  letter-spacing:   1px;
  word-spacing:   2px;
  font-size:  125% !important;
  font-weight: bold;

}

.ironman-speech{
  /*background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/ironman-bg.jpg);*/
    border-style:ridge;
  border-width: 7px;
  /*border-color: #ed1c24;*/
  border-color: #a50000;

  color: #0097A7;

}


.thor-speech{
  /*background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/thor-bg.jpg);*/
    border-style:ridge;
  border-width: 7px;
  /*border-color: #518cca;*/
  border-color: #999999;
  color: #FF9800;
}

.hulk-speech{
  /*background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/hulk-bg.jpg);*/
    border-style:ridge;
  border-width: 7px;
  /*border-color: #A2CD48;  */
  border-color: #00991f;

  color: #7B1FA2;
}

.cap-speech{
  /*background-image: linear-gradient(rgba(142, 128, 128, 0.65), rgba(0, 0, 0, 0.91)), url(../img/cap-bg.jpg);*/
    border-style:ridge;
  border-width: 7px;
  border-color: #3268bd;

  color: white;
}

#player1{
  position: relative;
  width: 290px;
  margin: 0 auto;
}

#player2{
  position: relative;
  width: 290px;
  margin: 0 auto;
}


.startcenter{
      display: flex;
  justify-content: center;
  align-items: center; 
}

html, body {
  height: 100%;
  font-size: 10pt !important;
}

.flex-fill {
    flex:1;
}



.container-fluid{
/*  display: flex;
  align-items: stretch;
*/
display: block;
}



#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200px;
    /* top layer */
    z-index: 9999;
    
    background: #7386D5;
    color: #fff;

    transition: all 0.3s;

    /*font-family: 'Poppins', sans-serif !important;*/
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebarCollapse {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 12px;
    right: 2px;
    font-size: 25px;
}

#sidebar.active {
    /*margin-left: -250px;*/
    left: 0px;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    padding-right: 50px;
}

#sidebar ul.components {
    padding: 20px;
    padding-right: 50px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    text-decoration: none;

          background: #fff;
    color: #7386D5 !important;
}

/*ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;

  
}*/

.ability {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  background: red;
  position: absolute;
  left: 230px;
  top: 40px;

  
  background-size: cover;
  background-position: center; 
}

.ironman-ab {
  background-image: linear-gradient(rgba(61, 61, 61, 0.6),rgba(0, 0, 0, 0.1)), url(../img/iron-ab.png);
}

.cap-ab {
  background-image: linear-gradient(rgba(61, 61, 61, 0.6),rgba(0, 0, 0, 0.1)), url(../img/cap-ab.png);
  display: none;
}

.thor-ab {
  background-image: linear-gradient(rgba(61, 61, 61, 0.6),rgba(0, 0, 0, 0.1)), url(../img/thor-ab.png);
}

.hulk-ab {
  background-image: linear-gradient(rgba(61, 61, 61, 0.6),rgba(0, 0, 0, 0.1)), url(../img/hulk-ab.png);
  display: none;
}

.solutions {
  display: none;
  text-align: center;
  font-family: avengersfont;
  font-size: 30px;
  /*color: white;*/
   color: #ecf0f1 !important;
}